.btn{
    min-width: 80px;
}

.btn p{
    margin: 0;
}

.container{
    margin-top: 40px;
}

.app-container{
    max-width: 1140px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-form button{
    float: right;
}

.register-form button{
    float: right;
}

.w-c-50{
    width: calc(50% - 10px);
}

a{
    text-decoration: none;
    color: #000;
    outline: none;
}

a:hover{
    text-decoration: none;
    color: rgba($color: #000000, $alpha: 0.7);
}

.strong{
    font-weight: 600;
}

.red{
    color: #ff0000;
}

.hover-text a:hover{
    font-size: larger;
}

.text-small{
    font-size: 9pt;
}

.text-large{
    font-size: 20pt;
}

.required:after{
    content: "*";
}

.w-40{
    width: 40% !important;
}

#tel::-webkit-outer-spin-button,
#tel::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

#tel{
    -moz-appearance: textfield;
}

input[type="radio"]{
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
}

.btn-transparent{
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 !important;
}


.active{
    font-weight: 600;
    text-decoration: underline #C2A274;
    text-underline-offset: .5em;
}

.uppercase{
    text-transform: uppercase;
}

.bb-br{
    border-bottom: 1px solid #C2A274;
    text-underline-offset: 1rem;
    width: 100%;
}

.bb-bl{
    border-bottom: 1px solid #000;
    text-underline-offset: 1rem;
    width: 100%;
}

.mh-40{
    min-height: 40px;
}

.bg-brown{
    background: #C2A274;
}

.text-spacing-bigger{
    letter-spacing: .3em;
}

.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.image-container img{
    width: 100%;
}

.image-container label{
    margin: 0 !important;
}

.image-container label:hover{
    opacity: 0.7;
}

.custom-form-group{
    display: flex;
    flex-direction: column;
}

.custom-form-input{
    border:none;
    border-bottom: 1px solid #000;
    outline: none;
    width: 100%;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-form-input:focus{
    border-bottom: 2px solid #C2A274;
}

.ts-14{
    font-size: 14pt;
}

.border-brown-c{
    border: 1px solid #C2A274;
}

.border-right-black{
    border-right: 1px solid #000;
}

.border-left-black{
    border-left: 1px solid #000;
}

.border-bottom-black{
    border-bottom: 1px solid #000;
}

.border-black{
    border: 1px solid #000;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    outline: none;
    border: none;
}

#body-measurements-btn{
    cursor: pointer;
}

#body-measurements-btn:hover{
    -webkit-text-decoration: underline #C2A274;
    text-decoration: underline #C2A274;
    text-underline-offset: 0.5em;
}

#exercises-btn{
    cursor: pointer;
}

#exercises-btn:hover{
    -webkit-text-decoration: underline #C2A274;
    text-decoration: underline #C2A274;
    text-underline-offset: 0.5em;
}

.bodyactive{
    display: flex;
}

.bodyinactive{
    display: none;
}

.pmargin-0 p{
    margin: 0;
}

.box-after::after{
    content: "\25A2";
}

.b-top-o{
    border-left: 1px solid rgb(194, 162, 116);
    border-image: linear-gradient(to bottom, rgba(194,162,116,1) 0,rgba(194,162, 116,1) 40%,rgba(194,162,116,1) 0,rgba(194,162,116,0) 40%);
    border-image-slice: 5;
}

.b-left-o{
    border-top: 1px solid rgb(194, 162, 116);
    border-image: linear-gradient(to right, rgba(194,162,116,1) 0,rgba(194,162,116,1) 0,rgba(194,162,116,1) 50%,rgba(194,162,116,0) 50%);
    border-image-slice: 5;
}

.underline{
    text-decoration: underline;
}

.video-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #969696;

    width: 100%;
    height: 100%;
}

.play-temp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    color: #969696;

    rotate: 90deg;
}

.opacity-50{
    opacity: 0.5;
}

.a-hover{

    cursor: pointer;
}

.a-hover-active{
    border: 1px solid #969696;
    border-radius: 5px;
}

.a-hover-active p{
    color: #969696;
}

.csv-hidden{
    height: 0;
    opacity: 0;
    transition: 0.2s linear;
}

.csv-hidden form{
    display: none;
}

.csv-hidden div{
    height: 0;
}

.csv-hidden p{
    margin: 0;
}

.csv-hidden-active{
    padding: 10px;
    height: auto !important;
    opacity: 1 !important;
    transition: 0.2s linear;
}

.csv-hidden-active form{
    display: block !important;
}

.csv-hidden-active div{
    height: auto !important;
}

.csv-hidden-active .h-50{
    height: 50% !important;
}

.user-input-form-container{
    display: flex;
    flex-wrap: wrap;
}

.user-input-form{
    width: 100%;
    border-bottom: 1px solid #C2A274;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-input-form input{
    width: 100%;
    border: none;
    outline: none;
}

.user-input-form input[type=number] {
    -moz-appearance: textfield;
  }


#sub_select{
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.sub-hidden{
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    transition: 0.2s linear;
}

.subdesc{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    transition: 0.2s linear;
    opacity: 1;
}

.diet-plan-table{
    width: 720px;
    max-width: 720px;
    min-width: 720px;
}

.diet-plan-table th{
    background: #000;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 15px;
}

.diet-plan-table td{
    border: none;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: #C2A274;
    color: #fff;

    padding: 15px 5px;
    text-align: center;
    width: 125px !important;
    max-width: 125px !important;
}

.diet-plan-table-w{
    border-collapse: none;
    min-width: 100% !important;
    width: 100% !important;

}

.diet-plan-table-w input{
    text-align: center;
}

.diet-plan-table-w tr{
    margin-bottom: 15px;
    width: 100% !important;
    display: table;
}

.diet-plan-table-w th{
    background: #000;
    color: #fff;
    padding: 15px;

    min-width: 16.6666667% !important;
}

.diet-plan-table-w td{
    border: none;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: #C2A274;
    color: #fff;

    height: 55px;
    width: 125px !important;
    max-width: 125px !important;
}

#comment-form{
    width: 100%;
    height: 100%;
    background: #f3ece1;

}

#comment{
    min-height: 300px;
    background: transparent;
}

.hidden-image{
    display: none;
}

.image-show{
    display: block;
    width:100%;
    height: 100%;
}
